/* Leaflet controls */
.leaflet-container .leaflet-control-draw { margin-left: 13px; margin-top: 12px; }
.leaflet-control-draw a { background-position: 50% 50%; background-repeat: no-repeat; display: block; }
.leaflet-control-draw a { width: 22px; height: 22px; }
.leaflet-control-draw a:hover { background-color: #fff }
.leaflet-touch .leaflet-control-draw a { width: 27px; height: 27px; }
.leaflet-control-draw-marker { background-image: url(draw-marker.png) }
.leaflet-control-draw-polyline { background-image: url(draw-polyline.png) }
.leaflet-control-draw-polygon { background-image: url(draw-polygon.png) }
.leaflet-control-draw-rectangle { background-image: url(draw-rectangle.png) }	